* {
  /* font-family: "Fira Sans", sans-serif; */
  margin: 0%;
  padding: 0%;
  margin-top: 5%;
  /* box-sizing: border-box; */
}
#container {
  height: 100%;
  display: flex;
  margin: 0;
  margin-left: 30px;
  margin-right: 30px;
}
.sideBar {
  width: 25%;
  height: 100vh;
  padding: 20px;
  /* position: fixed; */
  color: white;
  font-weight: 800;
  background: #a8ff78; 
  /* background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78); */
  /* background: linear-gradient(to right, #78ffd6, #a8ff78); */
}
.sideBar h1 {
  margin-top: 50%;
}
.cardHolder {
  padding: 20px;
  width: 70%;
  /* height: 100%; */
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-left: %;
}
.cardHolder-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
#card {
  width: 250px;
  /* justify-content: center; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
  padding-top: 0;
  padding-right: 0;
  border-radius: 15px;
  /* margin: 30px; */
  margin-right: 25px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.maincrop:hover {
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#card-img {
  width: 100px;
}
#card-img img {
  width: 230px;
  height: 160px;
}
#card-content {
}
table {
  color: gray;
}
/* .getplan-button{
  padding-top: 2%;
} */
/* Button{
  margin-top: 2%;
} */
.heading-crop-plan{
  margin-left: 0%;
}
/* p {
  float: right;
  right: 0;
  background-color: #54f7c6;
  color: rgb(255, 255, 255);
  padding: 2px;
  border-radius: 5px;
} */
/* @media (max-width: 800px) {
  #container {
    display: inline;
  }
} */
.success-rate{
  width: 60%;
  float: right;
  border-radius: 8px;
}
