.dashboard-Weather{
    float: right;
    margin-right: 5%;
    margin-top: 5%;
}
.dashboard-nav{
    display: flex;
    margin-top: -20px;
}
.dashboard-nav::after{
    display: none;
    content: "";
    clear: both;
}
.dashboard-footer{
    float: left;
    margin-left: 7%;
    margin-top: 4%;
    
}
.dashboard-getplan{
    /* display: flex; */
    /* align-items: center; */
    /* float: right; */
    margin-left: 11%;
    margin-top: 2.5%;
    /* padding-left: 20px; */
}

.dashbaord-recent {
    float: left;
    width: 60%;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: 800;
    font-style: bold;
}
.sec{
    margin-top: 5%;
    border: 1px solid black;
}
.get-plan-avatar{
    margin-top: 2.5%;
    padding: 0%;
    /* width: 50px; */
}